<div class="container", style="width:50%;">
	<h1 style="text-align:center;">New Book</h1>

	<%= render 'form' %>

	<%= link_to 'Back', books_path, class: "btn btn-raised btn-default" %>
	</div>
	</div>
</div>
